target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
!**/src/main/frontend/build
nbbuild/
dist/
nbdist/
.nb-gradle/

# Node, NPM, webpack
node_modules/
dist/
npm-debug.log
test/unit/coverage
